#content-wrapper {
  background-color: var(--card-bg);
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  display: flex;
  align-items: start;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;

  .role-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #user-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;

    .user-details {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      width: 70%;
      h1 {
        font-family: var(--inter-font);
        font-weight: 500;
        font-size: 3rem;
        color: var(--owner-text-color);
      }

      p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding-right: 2rem;
      }
    }

    .emoji-wrapper {
      background-color: var(--border-color);
      display: flex;
      align-items: center;
      padding: 0.5rem;
      border-radius: 100%;
      img {
        width: 9rem;
        background-position: contain;
        object-position: center;
      }
    }
  }

  button {
    background-color: var(--btn-bg-color);
    border: none;
    color: white;
    padding: 0.6rem 0.4rem;
    border-radius: var(--btn-radius);
    cursor: pointer;
    font-family: var(--rubik-font);
    text-decoration: none;
    width: 7rem;
    margin-block: 2rem;

    a {
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;

      &:hover {
        text-decoration: underline;
      }

      img {
        width: 1.5rem;
        filter: invert(100%) brightness(0.8);

        &:hover {
          background-color: transparent;
        }
      }

      span {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  #content-wrapper {
    padding: 2rem 1rem;
  }
  #user-info-container {
    flex-direction: column;
    align-items: start !important;
    gap: 1.5rem;
    padding-top: 1rem !important;

    .user-details {
      width: 100% !important;
    }
  }
}
