<section id="content-wrapper">
  <div class="role-container">
    <app-section-heading headingTitle="Software Engineer">
      <app-dot type="section" />
    </app-section-heading>
    <app-status status="Available" />
  </div>
  <!-- userInfo -->
  <div id="user-info-container">
    <!-- Details -->
    <div class="user-details">
      <h1>I'm Evans</h1>
      <p>
        Engineer from Ghana, West Africa. Currently building &#64;<a
          href="https://amalitech.com"
          target="_blank"
          >AmaliTech</a
        >.
      </p>

      <button>
        <a href="mailto:ellaboevans@gmail.com">
          <span>Reach</span>

          <img src="/assets/icons/arrow-up-right.svg" alt="arrow" />
        </a>
      </button>
    </div>
    <!-- emoji -->
    <div class="emoji-wrapper">
      <img src="/assets/images/portfolio-avatar.png" alt="avatar" />
    </div>
  </div>
  <app-projects>
    <div class="role-container">
      <app-section-heading headingTitle="Projects">
        <app-dot type="section" />
      </app-section-heading>
    </div>
    <!-- Card -->
    <ng-container *ngFor="let project of project_card(); trackBy: trackProject">
      <ev-card [cardData]="project">
        <img src="assets/icons/chevron-right.svg" class="icon" alt="yo" />
      </ev-card>
    </ng-container>
  </app-projects>
  <app-projects>
    <div class="role-container">
      <app-section-heading headingTitle="Tech Inhabitants">
        <app-dot type="section" />
      </app-section-heading>
    </div>
    <!-- Card -->
    <ng-container
      *ngFor="let community of community_card(); trackBy: trackProject"
    >
      <ev-card [cardData]="community">
        <img src="assets/icons/arrow-up-right.svg" class="icon" alt="yo" />
      </ev-card>
    </ng-container>
  </app-projects>
  <div class="connect">
    <h1>Let’s work together.</h1>
    <p>Building innovative solutions with machine language.</p>
  </div>
  <app-projects>
    <div class="role-container">
      <app-section-heading
        headingTitle="Connect"
        [ngStyle]="{
          'font-weight': '500',
        }"
      >
        <app-dot type="status" />
      </app-section-heading>
      <div class="social-icons">
        <a href="https://linkedin.com/in/eelabo" target="_blank"> LinkedIn </a>
        <a href="https://github.com/ellaboevans" target="_blank"> Github </a>
      </div>
    </div>
  </app-projects>
  <app-footer></app-footer>
</section>
