<section id="content-wrapper">
  <div class="role-container">
    <app-section-heading headingTitle="Software Engineer">
      <app-dot type="section"></app-dot>
    </app-section-heading>
    <app-status status="Available" />
  </div>
  <!-- userInfo -->
  <div id="user-info-container">
    <!-- Details -->
    <div class="user-details">
      <h1>I'm Evans</h1>
      <p>
        Engineer from Ghana, West Africa. Currently building &#64;AmaliTech.
      </p>

      <button>
        <a href="mailto:ellaboevans@gmail.com">
          <span>Reach</span>

          <img src="/assets/icons/arrow-up-right.svg" alt="arrow" />
        </a>
      </button>
    </div>
    <!-- emoji -->
    <div class="emoji-wrapper">
      <img src="/assets/images/portfolio-avatar.png" alt="avatar" />
    </div>
  </div>
</section>
<app-footer></app-footer>
